.sw-system-config {
    .frosh-thumbnail-processor-info-texts {
        a, a:visited {
            text-decoration: none;
            color: #189eff;
        }

        p {
            margin: revert;
        }
    }
}
