parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: "#^Result of && is always false\\.$#"
            count: 1
            path: src/DependencyInjection/ThumbnailService.php
            reportUnmatched: false

        -
            message: "#^Strict comparison using \\=\\=\\= between false and true will always evaluate to false\\.$#"
            count: 1
            path: src/DependencyInjection/ThumbnailService.php
            reportUnmatched: false

        -
            message: "#tag\\:v6\\.7\\.0 - reason:becomes-internal#"
            count: 1
            path: tests/integration/MediaUrlTest.php
            reportUnmatched: false
        -
            message: "#tag\\:v6\\.7\\.0 - Will be natively typed#"
            count: 2
            path: tests/integration/MediaUrlTest.php
            reportUnmatched: false

        -
            message: "#tag\\:v6\\.7\\.0 - reason\\:exception-change Thrown exception will change from InternalFieldAccessNotAllowedException to DataAbstractionLayerException#"
            reportUnmatched: false

        -
            message: "#possible constant types, only#"
            reportUnmatched: false

        -
            message: "#possible param types, only#"
            reportUnmatched: false
        -
            message: "#^Call to an undefined method Shopware\\\\Core\\\\Content\\\\Media\\\\Message\\\\GenerateThumbnailsMessage\\:\\:setContext\\(\\)\\.$#"
            count: 1
            path: src/DependencyInjection/FileSaver.php
            reportUnmatched: false

        -
            message: "#^Method Frosh\\\\ThumbnailProcessor\\\\DependencyInjection\\\\ThumbnailService\\:\\:(.*)\\(\\) is unused\\.$#"
            path: src/DependencyInjection/ThumbnailService.php

        -
            message: "#^Anonymous function should return array but returns mixed.#"
            path: src/DependencyInjection/ThumbnailService.php
            reportUnmatched: false

        -
            message: "#tag\\:v6\\.7\\.0 - reason\\:return-type-change - Return type will be native#"
            path: src/DependencyInjection/ThumbnailService.php
            reportUnmatched: false

        -
            message: '#^Call to deprecated method#'
            path: src/DependencyInjection/FileSaver.php
            reportUnmatched: false

        -
            message: "#(.*?)Shopware\\\\Tests\\\\Unit\\\\Common\\\\Stubs\\\\SystemConfigService\\\\StaticSystemConfigService#"
            reportUnmatched: false

        -
            message: "#(.*?)Shopware\\\\Tests\\\\Unit\\\\Common\\\\Stubs\\\\DataAbstractionLayer\\\\StaticEntityRepository#"
            reportUnmatched: false

        -
            message: '#.* generic class Shopware\\Core\\Framework\\DataAbstractionLayer\\EntityRepository.*not specify its types: TEntityCollection#'
            reportUnmatched: false

        -
            message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
            count: 1
            path: src/DependencyInjection/GeneratorCompilerPass.php

        -
            message: "#^Property Frosh\\\\ThumbnailProcessor\\\\Tests\\\\Integration\\\\MediaUrlTest.*does not accept object.*#"
            path: tests/integration/MediaUrlTest.php

        -
            message: "#Use AbstractMediaUrlGenerator instead#"
            reportUnmatched: false
