includes:
    - phpstan.baseline-generated-files.neon

parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:

        -
            message: "#Call to static method PHPUnit\\\\Framework\\\\Assert::assertIsIterable\\(\\) with array<int\\|string, string> will always evaluate to true.#"
            reportUnmatched: false

        -
            message: "#staticMethod.alreadyNarrowedType#"
            path: tests/unit/Core/Media/MediaUrlGeneratorTest.php
            reportUnmatched: false

        -
            message: "#tag\\:v6\\.8\\.0 - reason:return-type-change - return type will be nullable#"
            path: tests/integration/MediaUrlTest.php
            reportUnmatched: false

        -
            message: "#tag\\:v6\\.7\\.0 - reason:becomes-internal#"
            count: 1
            path: tests/integration/MediaUrlTest.php
            reportUnmatched: false
        -
            message: "#tag\\:v6\\.7\\.0 - Will be natively typed#"
            count: 2
            path: tests/integration/MediaUrlTest.php
            reportUnmatched: false

        -
            message: "#tag\\:v6\\.7\\.0 - reason\\:exception-change Thrown exception will change from InternalFieldAccessNotAllowedException to DataAbstractionLayerException#"
            reportUnmatched: false

        -
            message: "#possible constant types, only#"
            reportUnmatched: false

        -
            message: "#possible param types, only#"
            reportUnmatched: false

        -
            message: "#(.*?)Shopware\\\\Tests\\\\Unit\\\\Common\\\\Stubs\\\\SystemConfigService\\\\StaticSystemConfigService#"
            reportUnmatched: false

        -
            message: "#(.*?)Shopware\\\\Tests\\\\Unit\\\\Common\\\\Stubs\\\\DataAbstractionLayer\\\\StaticEntityRepository#"
            reportUnmatched: false

        -
            message: '#.* generic class Shopware\\Core\\Framework\\DataAbstractionLayer\\EntityRepository.*not specify its types: TEntityCollection#'
            reportUnmatched: false

        -
            message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
            count: 1
            path: src/DependencyInjection/GeneratorCompilerPass.php

        -
            message: "#^Property Frosh\\\\ThumbnailProcessor\\\\Tests\\\\Integration\\\\MediaUrlTest.*does not accept object.*#"
            path: tests/integration/MediaUrlTest.php

        -
            message: "#Use AbstractMediaUrlGenerator instead#"
            reportUnmatched: false

        -
            message: "#^Strict comparison using === between array<PhpParser\\\\Node\\\\Stmt> and null will always evaluate to false\\.$#"
            count: 1
            path: src/DependencyInjection/GeneratorCompilerPass.php
            reportUnmatched: false

        -
            message: "#^Call to function method_exists\\(\\) with 'PhpParser\\\\\\\\ParserFactory' and 'createForHostVersion' will always evaluate to true\\.$#"
            count: 1
            path: src/DependencyInjection/GeneratorCompilerPass.php
            reportUnmatched: false

        -
            message: "#^Access to undefined constant PhpParser\\\\ParserFactory::ONLY_PHP7\\.$#"
            count: 1
            path: src/DependencyInjection/GeneratorCompilerPass.php
            reportUnmatched: false

        -
            message: "#^Call to an undefined method PhpParser\\\\ParserFactory::create\\(\\)\\.$#"
            count: 1
            path: src/DependencyInjection/GeneratorCompilerPass.php
            reportUnmatched: false

        -
            message: "#^Method Frosh\\\\ThumbnailProcessor\\\\DependencyInjection\\\\GeneratorCompilerPass::getPhpParser\\(\\) should return PhpParser\\\\Parser but returns mixed\\.$#"
            count: 1
            path: src/DependencyInjection/GeneratorCompilerPass.php
            reportUnmatched: false

        -
            message: "#^Property PhpParser\\\\Node\\\\Stmt\\\\Namespace_::\\$stmts \\(array<PhpParser\\\\Node\\\\Stmt>\\) does not accept array<PhpParser\\\\Node\\\\Stmt>\\|null\\.$#"
            count: 1
            path: src/DependencyInjection/GeneratorCompilerPass.php
            reportUnmatched: false
