{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{# We are just setting `sizes: sizes` here #}
{% block component_product_box_image %}
    {% if not shopware.config.FroshPlatformThumbnailProcessor.config.FixListingThumbnailSizes %}
        {{ parent() }}
    {% else %}

        <div class="product-image-wrapper">
            {# fallback if display mode is not set #}
            {% set displayMode = displayMode ?: 'standard' %}

            {# set display mode 'cover' for box-image with standard display mode #}
            {% if layout == 'image' and displayMode == 'standard' %}
                {% set displayMode = 'cover' %}
            {% endif %}

            <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
               title="{{ name }}"
               class="product-image-link is-{{ displayMode }}">
                {% if cover.url %}
                    {% set attributes = {
                        'class': 'product-image is-'~displayMode,
                        'alt': (cover.translated.alt ?: name),
                        'title': (cover.translated.title ?: name)
                    } %}

                    {% if displayMode == 'cover' or displayMode == 'contain' %}
                        {% set attributes = attributes|merge({ 'data-object-fit': displayMode }) %}
                    {% endif %}

                    {% sw_thumbnails 'product-image-thumbnails' with {
                        media: cover,
                        sizes: sizes
                    } %}
                {% else %}
                    <div class="product-image-placeholder">
                        {% sw_icon 'placeholder' style {
                            'size': 'fluid'
                        } %}
                    </div>
                {% endif %}
            </a>
        </div>
    {% endif %}
{% endblock %}
