<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Configuration</title>
        <input-field type="text">
            <name>ThumbnailPattern</name>
            <label>Thumbnail-Pattern</label>
            <placeholder>{mediaUrl}/{mediaPath}?width={width}&amp;height={height}</placeholder>
            <defaultValue>{mediaUrl}/{mediaPath}?width={width}&amp;height={height}</defaultValue>
            <helpText>available variables:
                {mediaUrl}: https://cdn.test.de/
                {mediaPath}: media/image/5b/6d/16/tea.png
                {width}: 800
                {height}: 800
            </helpText>
        </input-field>

        <input-field type="bool">
            <name>ProcessOriginalImages</name>
            <label>Process Original Images</label>
            <defaultValue>1</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>ProcessSVG</name>
            <label>Process SVG files</label>
            <defaultValue>0</defaultValue>
            <helpText>
                Some services will convert SVG files into jpg or webp which results in much bigger files.
                Just activate, if your service can manage and compress SVG files.
            </helpText>
        </input-field>

        <input-field type="bool">
            <name>FixListingThumbnailSizes</name>
            <label>Fix Listing ThumbnailSizes</label>
            <defaultValue>1</defaultValue>
            <helpText>
                There is some problem with thumbnail-sizes in storefront.
                This can help you delivering better matching sizes to the visitor.
            </helpText>
        </input-field>

        <component name="frosh-thumbnail-processor-info-texts">
            <name>froshthumbnailprocessorinfotexts</name>
        </component>
    </card>
</config>
